/* Background */
body {
  background-color: #b2b2b2;
  background-image: url("./images/powercat.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* For login divs */
.container div{
  font-family: 'Noto Serif', serif;
  min-width: 50px;
  min-height: 50px;
  max-width: 230px;
  max-height: 250;
  vertical-align: top;
  display: inline-block;
  margin: 5px;
  background-color: #363237;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  float: left;
}

.containter {
  
}

.topBar {
  position:absolute;
  top:0px;
  right:0px;
  left:0px;
  background-color: #561251;
}

#bannerImg{
  width: 200px;
}

