/* Background */
body {
  background-color: #b2b2b2;
  background-image: url("./images/powercat.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* For login divs */
.container div{
  font-family: 'Noto Serif', serif;
  min-width: 50px;
  min-height: 50px;
  max-width: 230px;
  max-height: 250;

  display: inline-block;
  margin: 0 auto;
  background-color: #363237;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
}

input {
  position: relative;
  display: block;
  margin : 0 auto;
  
  text-align: center;
  padding: 5 px;
}

.container {
  position: absolute;
  top:50px;
  width: 100%;
  height: 100%;
}

.topBar button {
  background-color: #5a117e; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.topBar {
  position:absolute;
  top:0px;
  right:0px;
  left:0px;
  background-color: #5a117e;
}